@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: bubble;
  src: url(../font/jf-openhuninn-1.1.ttf);
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: bubble, "微軟正黑體", "Microsoft JhengHei";
  -webkit-transition: all .2s;
  transition: all .2s;
}

body, html {
  height: 100%;
  margin: 0;
  background: #f7f7f7;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -93px;
}

.index-main {
  padding-bottom: 93px;
}

img {
  max-width: 100%;
  display: block;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 380px;
  background-image: url("../img/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-content {
  text-align: center;
  width: 30%;
}

.header-content h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 96px;
}

.header-content select {
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
  background: url(../img/icons_down.png) no-repeat right 1.0625rem center/16px 11px, rgba(255, 255, 255, 0.7);
  border: 3px solid #FFFFFF;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hot-admin {
  position: relative;
  top: -30px;
  width: 78%;
  margin: 0 auto;
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.hot-admin h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.hot-admin-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hot-admin-btn input {
  border-radius: 5px;
  border: 0;
  padding: 10px 30px;
  margin-right: 20px;
  font-size: 1.25rem;
  color: #FFFFFF;
}

.hot-admin-btn input[value="苓雅區"] {
  background: #8A82CC;
}

.hot-admin-btn input[value="苓雅區"]:hover {
  background: #685ebd;
}

.hot-admin-btn input[value="三民區"] {
  background: #FFA782;
}

.hot-admin-btn input[value="三民區"]:hover {
  background: #ff834f;
}

.hot-admin-btn input[value="美濃區"] {
  background: #F5D105;
}

.hot-admin-btn input[value="美濃區"]:hover {
  background: #c3a604;
}

.hot-admin-btn input[value="六龜區"] {
  background: #559AC8;
}

.hot-admin-btn input[value="六龜區"]:hover {
  background: #3981b1;
}

.apart-line {
  position: relative;
  border-top: 2px dashed #559AC8;
  margin: 10px 0 80px;
}

.apart-line-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border: 2px solid #559AC8;
  background: #f7f7f7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apart-line-icon::after {
  content: '';
  display: block;
  width: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 8px solid #559AC8;
}

.content-panel h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #8A82CC;
  margin-bottom: 30px;
}

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  width: 49%;
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.content-img {
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
}

.content-img a {
  display: block;
  max-height: 308px;
}

.content-img a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.content-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.content-img h3, .content-img h4 {
  position: absolute;
  bottom: 10px;
}

.content-img h3 {
  left: 20px;
  font-size: 1.25rem;
}

.content-img h4 {
  right: 20px;
}

.content-info {
  padding: 20px;
}

.content-info img {
  margin-right: 8px;
}

.content-info a {
  color: #000000;
  text-decoration: none;
}

.content-info a:hover {
  text-decoration: underline;
}

.content-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.content-info > div:last-child {
  position: relative;
  margin-bottom: 0;
}

.content-info > div:last-child img {
  margin-right: 14px;
}

.Ticketinfo {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background: #559AC8;
  padding: 20px;
  text-align: center;
}

.footer p {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer p:last-child {
  color: #FFD366;
  margin-bottom: 0;
}

.footer a {
  color: #FFD366;
}
/*# sourceMappingURL=all.css.map */